* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 900px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    h1 {
        position: absolute;
        margin-left: 350px;
        margin-top: 70px;
    }
    .wrapper-item {
        position: absolute;
        width: 900px;
        height: 300px;
        display: flex;
        justify-content: center;
        top: 150px;
        ul {
            position: absolute;
            display: flex;
            justify-content: space-between;
            gap: 15px;
        }
        li {
            width: 250px;
            height: 200px;
            text-align: center;
            box-shadow: 2px 2px 0 0 rgb(202, 200, 200);
            list-style: none;
        }
        img {
            width: 100px;
            height: 100px;
            margin-top: 5px;
        }
        p {
            font-size: 12px;
            margin-top: 5px;
            color: rgb(255, 139, 85);
        }
    
    }
    .wrapper-item__ratangle{
        width: 120px;
        height: 170px;
        position: absolute;
        }
        .wrapper-item__ratangle2{
            width: 150px;
            height: 180px;
            position: absolute;
            margin-left: 700px;
            margin-top: 390px;
        }

        }
    


